user: markovirc
nick: markovirc
server: irc.freenode.net
port: 6667
ssl: false
sslverify: false

# Postgres database to connect to
database: markovirc

# Authentication pass, for !auth. A blank pass will disable auth and
# cause it to report "invalid password."
authpass:

# Remove to disable logging. This is the subfolder in logs/ name.
logging: freenode

# The address to the sinatra quote server, the first bit where you append the id at the end
quoteurl: http://localhost:4567/src/

# How far back to keep spoken phrases
history: 25

logic:
  # Markov chain length. Higher means more coherent, but in turn less
  # random. The stock chainlength 4 is very coherent and typically 8 is
  # nearly verbatim source text.
  minchainlength: 4 

  maxchainlength: 8 

  # Percent of messages which markovirc has a chance to reply. Note 
  # that the weights also influence whether he will reply or not too.
  replyrate: .10
  
  ###################################################################
  # Penalties make a message markovirc will say get tossed. High 
  # penalties and a low reply rate, coupled with a new database,
  # can cause markovirc to be entirely silent.  
  ###################################################################

  # Max penalty, if something hits this then the phrase is thrown out.
  maxpenalty: 30

  # Maximum words on either side of the trigger word. This will cause
  # the text chaining to stop immediately and a penalty to occur. 25
  # means the total max length of a phrase is 51 words.
  maxwords: 25

  # Penalty for hitting the word limit on the left hand side.
  lhsoverflow: 30

  # Penalty for hitting the word limit on the right hand side.
  rhsoverflow: 30
  
  # Penalty for using a rare chain. This is triggered by a with chainlength 
  # of chainlength/2, not existing in a source text.
  coherency: 15

  # Penalizes repeating chains in the sentence. Each time a chain segment 
  # repeats, this amount is added, this includes metachains made by 
  # combinations of other chains.
  repetition: 3

# Users that match this hostmask will be given access to all admin commands.
# This format accepts regex for the individual segments, ie:
#   [a]*ron!.*@(64|65).18.47.122

admins:
  - user!invalid@host

# List of channels to join on start.
# Current flags are -speak, silent, -commands, hilight. -speak disables
# speaking randomly in that channel, while the -commands flag disables commands. silent
# implies both -speak and -commands. Hilight is on by default with no flags, but is disabled
# by -speak. It enables marko to only respond to highlights if combined with silent or -speak. 
channels:
  "#channelname":
    - speak
  "#another":
    - -speak
    - silent
